# Godot 4+ specific ignores
.godot/
/android/
Exports/*
!Exports/*.ps1
.vscode/
*.tmp

# Godot wwise specific ignores
*.log
.vs/
.godot/
.import/
export.cfg
export_presets.cfg
addons/Wwise/native/src**/*.obj
*.wsettings
*.validationcache
**/WwiseProjectData.tres
**/~libwwise.windows.editor.profile.dll
tests/WwiseProject/.cache/